<h1>Categories currently in stock</h1>
<div class="boxes_big">
  <div class="boxes">
    <table class="center">
      <tr>
      </tr>
      <% for genre in @genres %>
      <tr>
        <td><%= genre.name  %>
          <table class="center">
            <tr><td>
              <td>
                <form method="get" action="/genres/<%= genre.id %>/books">
                  <input class="btn" type="submit" value="Browse <%= genre.name  %> books">
                  </form>
                </td>
                <td>
                  <form method="get" action="/genres/<%= genre.id %>/publishers">
                    <input class="btn" type="submit" value="View <%= genre.name  %> publishers">
                    </form>
                  </td>
                <tr><td>
                </form>
              </table>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<table class="center">
  <tr><td>
    <form method="get" action="/books/new">
      <input class="btn" type="submit" value="Add a new category">
      </form>
    </table>
