<h1>Please review the fields and then confirm.</h1>

<div class="boxes_big">
  <div class="boxes">
    <table class="center">
      <form method="post" action="/books">
        <td>
          <label for="book-title">Title: </label>
          <input id="book-title" type="text" style="width: 200px;" name="title" value="<%=@title %>">
        </td>
        <td>
          <label for="book-author">Author: </label>
          <input list="authors" type="text" style="width: 100px;" name="author" value="<%=@author %">
          <datalist id="authors">
            <% for book in @books %>
            <option value="<%= book.author %>"></option>
            <% end %>
          </datalist>
        </td>
        <td>
          <label for="book-publication">Publication year: </label>
          <input id="book-publication" type="text" style="width: 50px;" name="publication_year" value="">
        </td>
        <td>
          <label for="book-quantity">Quantity: </label>
          <input id="book-quantity" type="number" min="0" style="width: 50px;" name="quantity" value="">
        </td>
<tr>
    <table class="center">
          <td>
          <label for="select-genre">Select genre: </label>
          <select id="select-genre" name="genre_id" style="width": 75px>
            <% for genre in @genres %>
            <option value = "<%= genre.id %>"><%= genre.name %> <%= "selected" if genre == genre.name%></option>
            <% end %>
          </select>
          </td>
          <td>
            <label for="select-publisher">Select publisher: </label>
            <select id="select-publisher" name="publisher_id">
              <% for publisher in @publishers %>
              <option value = "<%= publisher.id %>"><%= publisher.name %></option>
              <% end %>
            </select>
            </td>
          <td>
            <label for="book-wholesale_price">Wholesale price: £</label>
            <input id="book-wholesale_price" type="number" step="0.01" min="0" style="width: 50px;" name="wholesale_price" value="">
          </td>
          <td>
            <label for="book-retail_price">Retail price: £</label>
            <input id="book-retail_price" type="number" step="0.01" min="0" style="width: 50px;" name="retail_price" value="">
          </td>
        </table>
        </tr>
        <tr>
          <table class="center">
            <tr>
              <table class="center">
                <td>
                  <label for="book-url" align="center">Image(jpg only):          </label>
                    <input name="url" type="file" accept="image/*" style="width: 160px; height: 20px">
                </td>
          <td id="book-summary" style="width: 350px; height: 60px;">
            <label for="book-summary" align="center">Summary:</label>
            <textarea id="book-summary" rows="4" cols="50" id="book-summary" type="text" style="width: 350px; height: 60px; padding: 10px 0" name="summary">
          </textarea>
          </td>
          <td>
            <label for="book-copies_sold">Copies sold: </label>
            <input id="book-copies_sold" type="number" min="0" style="width: 50px;" name="copies_sold" value="">
          </td>
        </table>
        </tr>
        </table>
      </div>
    </div>
    <table class="center">
      <tr>
        <form method="post" action="/books">
          <td>
            <input class="btn" type="submit" value="Save book to inventory">
          </td>
          </form>
          <td>
            <form method="get" action="/publishers/newbook">
              <input class="btn" type="submit" value="Publisher not listed? Click to add">
            </form>
          </td>
          </tr>
      </table>
      </tr>
