<h1>Books currently in stock</h1>
<div class="boxes_big">
  <div class="boxes">
    <table class="center">
      <tr>
        <th>Title</th>
        <th></th>
        <th>Author</th>
        <th></th>
        <th>Publisher</th>
        <th></th>
        <th>Genre</th>
        <th></th>
        <th>Wholesale price</th>
        <th></th>
        <th>Retail price</th>
        <th></th>
        <th>Markup</th>
        <th></th>
        <th>Quantity</th>
      </tr>
      <% for book in @books %>
      <tr>
        <td><a href="/books/<%= book.id %>"><%= book.title  %></a></td>
        <td>|</td>
        <td><%= book.author  %></td>
        <td>|</td>
        <td><%= book.publisher %></td>
        <td>|</td>
        <td><%= book.genre %></td>
        <td>|</td>
        <td>£<%= book.wholesale_price %></td>
        <td>|</td>
        <td>£<%= book.retail_price %></td>
        <td>|</td>
        <td><%= book.markup %>%</td>
        <td>|</td>
        <td class="<%= book.color() %>"><%= book.quantity %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<table class="center">
  <tr><td>
    <form method="get" action="/books/new">
      <input class="btn" type="submit" value="Log a new book">
      <form method="get" action="/books/new">
        <input class="btn" type="submit" value="Log a new sale">
      <tr><td>
      </form>
    </table>
