<h1>Book details</h1>

<div class="row">
  <div class="col">
  <table class="center">
  <tr><td>Title: </td><td><%= @books.title %></td></tr>
  <tr><td>Publisher: </td><td><%= @books.publisher %></td></tr>
  <tr><td>Publication year: </td><td><%= @books.publication_year %></td></tr>
  <tr><td>Author: </td><td><%= @books.author %></td></tr>
  <tr><td>Genre: </td><td><%= @books.genre %></td></tr>
  <tr><td>Quantity: </td><td class="<%= @books.color() %>"><%= @books.quantity %></td></tr>
  <tr><td>Wholesale price: </td><td>£<%= @books.wholesale_price %></td></tr>
  <tr><td>Retail price: </td><td>£<%= @books.retail_price %></td></tr>
  <tr><td>Markup: </td><td><%= @books.markup() %>%</td></tr>
  <tr><td></td></tr>
  <tr><td></td></tr>
  </table>
  <tr>Charles Dickens's A Tale of Two Cities portrays a world on fire, split between Paris and London during the brutal and bloody events of the French Revolution. This Penguin Classics edition of is edited with an introduction and notes by Richard Maxwell.
'It was the best of times, it was the worst of times...'
After eighteen years as a political prisoner in the Bastille the aging Dr Manette is finally released and reunited with his daughter in England. There, two very different men, Charles Darnay, an exiled French aristocrat, and Sydney Carton, a disreputable but brilliant English lawyer, become enmeshed through their love for Lucie Manette. From the tranquil lanes of London, they are all drawn against their will to the vengeful, bloodstained streets of Paris at the height of the Reign of Terror and soon fall under the lethal shadow of La Guillotine.</tr>
  </div>
  <div class="col">
   <img src="<%= @books.image() %>">
 </div>
</div>

<table class="center">
  <tr>
    <td>
      <form method="get" action="/books">
        <input class="btn" type="submit" value="Back to books">
      </form>
    </td>
    <td>
      <form method="get" action="/books/<%= @books.id %>/edit">
        <input class="btn" type="submit" value="Edit book details">
      </form>
    </td>
    <td>
      <form method="post" action="/books/<%= @books.id %>/delete">
        <input class="btn" type="submit" value="Remove book from inventory">
      </form>
    </td>
  </tr>
</table>
