<h1>To edit <%= @publishers.name %>, change the fields you wish to update and then click on 'Save publisher'.</h1>

<div class="boxes_big">
  <div class="boxes">
<form method="post" action="/publishers/<%= @publishers.id%>">
    <table class="center">
      <td>
        <label for="publisher-name">Name: </label>
          <input id="publisher-name" type="text" style="width: 200px;" name="name" value="<%=@publishers.name %>">
      </td>
          <td>
            <label for="publisher-address">Address: </label>
              <input id="publisher-address" type="text" style="width: 250px;" name="address" value="<%=@publishers.address %>">
          </td>
          <td>
            <label for="publisher-city">City: </label>
              <input id="publisher-city" type="text" style="width: 250px;" name="city" value="<%=@publishers.city %>">
          </td>
          <td>
            <label for="publisher-region">Region: </label>
              <input id="publisher-region" type="text" style="width: 225px;" name="region" value="<%=@publishers.region %>">
          </td>
          <tr>
            <td>
              <label for="publisher-country">Country: </label>
                <input id="publisher-country" type="text" style="width: 225px;" name="country" value="<%=@publishers.country %>">
            </td>
            <td>
              <label for="publisher-postcode">Postcode: </label>
                <input id="publisher-postcode" type="text" style="width: 250px;" name="postcode" value="<%=@publishers.postcode %>">
            </td>
            <td>
              <label for="publisher-tel">Telephone: </label>
                <input id="publisher-tel" type="text" style="width: 250px;" name="tel" value="<%=@publishers.tel %>">
            </td>
            <td>
              <label for="publisher-email">Email: </label>
                <input id="publisher-email" type="text" style="width: 225px;" name="email" value="<%=@publishers.email %>">
            </td>
        </tr>
    </table>
  </div>
</div>
<table class="center">
<tr>
<td align="center">
<form method="post" action="/publishers/<%= @publishers.id%>">
  <input align="center" class="btn" type="submit" value="Save publisher">
</td>
</tr>
    </form>
  </table>
