<h1>Please change the fields you wish to update.</h1>

<div class="boxes_big">
  <div class="boxes">

    <table class="center">
      <form method="post" action="/publishers/<%=@publishers.id%>">
          <td>
            <label for="publisher-name">Name: </label>
              <input id="publisher-name" type="text" style="width: 250px;" name="name" value="<%=@publishers.name %>">
          </td>
          <td>
            <label for="publisher-address">Address: </label>
              <input id="book-title" type="text" style="width: 250px;" name="address" value="<%=@publishers.address %>">
          </td>
          <td>
            <label for="publisher-city">City: </label>
              <input id="book-title" type="text" style="width: 250px;" name="title" value="<%=@publishers.city %>">
          </td>
          <td>
            <label for="publisher-region">Region: </label>
              <input id="book-title" type="text" style="width: 250px;" name="title" value="<%=@publishers.region %>">
          </td>
          <tr>
            <td>
              <label for="publisher-country">Country: </label>
                <input id="book-title" type="text" style="width: 250px;" name="title" value="<%=@publishers.country %>">
            </td>
            <td>
              <label for="publisher-postcode">Postcode: </label>
                <input id="book-title" type="text" style="width: 250px;" name="title" value="<%=@publishers.postcode %>">
            </td>
            <td>
              <label for="publisher-tel">Telephone: </label>
                <input id="book-title" type="text" style="width: 250px;" name="title" value="<%=@publishers.tel %>">
            </td>
            <td>
              <label for="publisher-email">Email: </label>
                <input id="book-title" type="text" style="width: 250px;" name="title" value="<%=@publishers.email %>">
            </td>
        </tr>
    </table>
  </div>
</div>
<table class="center">
  <td>
    <input align="center" class="btn" type="submit" value="Store updated details">
  </form>
  </td>
    </table>
