<h1>Publishers stocked (click publisher name for details)</h1>
<div class="row">
  <div class="col">
  <table class="center">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Address</th>
    <th></th>
    <th>City</th>
    <th></th>
    <th>Region</th>
    <th></th>
    <th>Country</th>
    <th></th>
    <th>Postcode</th>
    <th></th>
    <th>Telephone no.</th>
    <th></th>
    <th>Email address</th>
    <th></th>
    <th>Works stocked</th>
  </tr>
  </div>
    <% for publisher in @publishers %>
    <tr>
      <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name  %></a></td>
      <td>|</td>
      <td><%= publisher.address  %></td>
      <td>|</td>
      <td><%= publisher.city %></td>
      <td>|</td>
      <td><%= publisher.region %></td>
      <td>|</td>
      <td><%= publisher.country %></td>
      <td>|</td>
      <td><%= publisher.postcode %></td>
      <td>|</td>
      <td><%= publisher.tel %></td>
      <td>|</td>
      <td><%= publisher.email %></td>
      <td>|</td>
      <td><a href="/publishers/<%= publisher.id %>">Click to view</a></td>
    </tr>
    <% end %>
 </div>
</div>
    </table>
  </div>
</div>
<table class="center">
  <tr><td>
    <form method="get" action="/publishers/new">
      <input class="btn" type="submit" value="Add a new publisher">
      <tr><td>
      </form>
    </table>
